.html{
    background-color: #EFEFEF;
}

.header{
    /*padding: 2px 0;*/
    border-bottom: solid #EEC20D 4px;
    background-color: #5B5B5B;
    display:flex;
    flex-direction: row;
    position: relative;
}

html, body {
    margin: 0;
    padding: 0;
}

/*.header-logo{*/
/*    padding: 0;*/
/*}*/

ul {
    display: flex;
    flex-direction: row;
    bottom: 0px;
    position: absolute;
    margin-bottom: 2px
}

.menu ul a {
    text-decoration: none;
    color: #b6b6b6;
    list-style-type: none;
    margin-right: 30px;
    font-size: 16px;
}

.menu ul a:hover{
    color: #8f8f8f;
}

.pantaloons {
    margin: 20px auto 70px;
    word-wrap: break-word;
    padding: 0 48px;
    max-width: 86rem;
}

/*All of the following nonsense is page 2*/

.finance-banner{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin-top: 50px;
    border: solid 2px black;
    position: relative;
}

.banner-items{
    text-decoration: none;
    color: #b6b6b6;
    list-style-type: none;
    position: absolute;
}

#market-info {
    margin-right: 20px;
}

/*This next section is the chart on page 2*/

.finance-chart{
    border: solid 2px black;
}

.finance-chart .title {
    margin-top: 20px;
}

.finance-chart .chart {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

th {
    text-decoration: none;
    list-style-type: none;
    color: #b6b6b6;
    padding-right: 20px;
    
    
}

.finance-chart .Symbol {
    border-right: solid 1px #EFEFEF;
}

tr:nth-child(even) {
    background-color: #8f8f8f;
}