
a {
     text-decoration: none;
}

.Dem-Stocks{
    text-align: center;
}

.menu {
    text-align: center;
    background-color: silver;
    margin-bottom: 15px;
    padding: 2px 0;
}

ul{
  padding: 0;  
}

.list-items{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    margin: 0 5%;
}

a {
color: #fff;
}

a:hover{
    border-bottom: 5% solid 2px;
}